%footer.footer
  .container
    %p
      Designed and Created for
      %a{:href => "www.ichack.org"} ICHack 2013
      by
      %a{:href => "http://www.inspiredpixel.net"} Peter Hamilton

      %a{:href => "http://www.twitter.com/peterejhamilton"}
        %i.icon-twitter
      &nbsp;
      %a{:href => "http://www.github.com/peterhamilton"}
        %i.icon-github
    %p
      Get stuck in - &nbsp;
      %a{:href => "https://github.com/PeterHamilton/hacktivity"}
        %i.icon-github-alt
